.col-6 {
  display: flex;
  justify-content: center;
}
.card {
  width: 18rem;
}

.bottom {
  display: flex;
  justify-Content: space-between;
  margin: 10px 10px;
}

.title{
    text-align: center;
}
.card{
    border: none;
}
