.pdetails{
    display: flex;
    justify-content: space-around
}
.product-pics{
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(179, 185, 190, 0.09);
}
.product-img{
    align-items: center;
    border: 2px solid black;
    /* background-color: red; */
}
.detail{
    margin-top: 10vh;
    margin-bottom: 2vh;
    text-align: center;
}

.pic :hover{
    cursor: pointer;
    border: 2px solid black;
}
